.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.o
**/*.a
**/*.so
**/*.dSYM/
**/.mypy_cache/
**/.pytest_cache/
build/
dist/
venv/
.env/
.cache/
logs/
datasets/
data/
sim/build/
sim/lib/
exp_data/*
exp_data/